form{
	width: 50%;
}

li {
	margin-top: 10px;
	border: 2px solid black;
    width: 50%;
    border-radius: 3px;
    list-style: none;

}
li span {
	font-size: 25px;
    margin-left: 10px;
}

li input {
	
}